<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="ConexionDB" value="Data Source=192.168.10.243;Initial Catalog=Finanzas;Integrated Security=false; User Id =sa; Password=cabejeCat3" />
  </appSettings>
 
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>