<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConexionDB" value="Data Source=LAPCX1V5Y2\DEVELOPMENT01;Initial Catalog=Finanzas;Integrated Security=false; User Id =sa; Password=Mazda2022" />   
  </appSettings>
 
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>